

.meta__description{
    width: 415px;
    height: 136px;
    font-size: 18px;
    line-height: 35px;
}

.meta__title{
    font-size: 48px;
    font-weight: 700;
}

.meta__content{
   padding-left: 4rem;
    background: var(--gradient-txt);
    color: var(--color-txt);
    margin-top: 1.5rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: flex;
   gap: 3rem;
    
}

.meta__content button{
    padding: .7rem 1rem;
    border-radius: 8px;
    border: none;
   width: 156px;
    font-size: 16px;
    color: #A02279 ;
    font-weight: 400;
    margin-top: 4rem;
}

.turned__images{
    

    flex: 1;
    justify-content: center;
    align-items: center;
   
    
}

.turned__images img{
    width: 700px;
    
}

@media(max-width: 480px){
    .meta__description{
        width: 350px;
        height: 136px;
        font-size: 18px;
        line-height: 28px;
    } 
    .meta__content{
        padding-left: 2rem;
         background: var(--gradient-txt);
         color: var(--color-txt);
         margin-top: 110rem;
         padding-top: 8rem;
         padding-bottom: 8rem;
         display: flex;
         flex-direction: column;
        gap: 0rem;
        
         
     }
     .turned__images img{
    

        flex: 1;
        justify-content: center;
        align-items: center;
       padding-top: 2rem;
        width: 100%;
        padding-right: 2rem;
    }
    .meta__title{
        font-size: 40px;
        font-weight: 700;
    }
    .meta__content button{
        padding: .5rem .7rem;
        border-radius: 8px;
        border: none;
       width: 140px;
        font-size: 16px;
        color: #A02279 ;
        font-weight: 400;
        margin-top: 2rem;
    }
}

@media(max-width: 330px){
    .meta__description{
        width: 250px;
        height: 136px;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: .5rem;
    } 
    .meta__content{
        padding-left: 2rem;
         background: var(--gradient-txt);
         color: var(--color-txt);
         margin-top: 110rem;
         padding-top: 8rem;
         padding-bottom: 8rem;
         display: flex;
         flex-direction: column;
        gap: 0rem;
        
         
     }
     .turned__images img{
    

        flex: 1;
        justify-content: center;
        align-items: center;
       padding-top: 2rem;
        width: 100%;
        padding-right: 2rem;
    }
    .meta__title{
        font-size: 35px;
        font-weight: 700;
        margin-bottom: .5rem;
    }
    .meta__content button{
        padding: .5rem .7rem;
        border-radius: 8px;
        border: none;
       width: 140px;
        font-size: 16px;
        color: #A02279 ;
        font-weight: 400;
        margin-top: 2rem;
    }
}