.main__title{
    font-size: 38px;
    text-align: center;
    
    padding: 1.5rem 0;
}

@media(max-width: 480px){
    .main__title{
        font-size: 25px;
        text-align: center;
        
        padding: 1rem 0;
    }
}