

body{
    font-family: var(--font-family);
}

.nft__navbar-links-container{
   display: flex;
   flex-direction: row;
   gap: 3.5rem;
}
.connect{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.nft__navbar{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 2rem 6rem;

}

.nft__navbar-links{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nft__navbar-links-logo img{
    height: 32px;
}
.openModalBtn{
    background: var(--gradient-txt);
    color: var(--color-txt);
    padding: .5rem 1rem;
    border-radius: 10px;
    border: none;
    height: 48px;
    width: 170px;
    cursor: pointer;
}
.nft__navbar-menu-links{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    position: absolute;
    padding: 2rem;
    right: 0;
    top: 40px;

}

.icon{
    display: none;
    font-size: 25px;
    cursor: pointer;
}

@media(max-width: 480px){
    .icon{
        display: block;
        color: var(--gradient-txt);
    }
    /* .nft__navbar p{
        display: none;
    } */

    .nft__navbar {
        padding: 2rem;
    }

    .nft__navbar-links {
        position: relative;
    }

    .display {
        display: none;
    }

    .nft__navbar-links-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        right: 0%;
        top: 100%;
        background: var(--gradient-txt);
        color: white;
        padding: 1rem 5rem;
    }

    .nft__navbar-links-logo {
        display: flex;
        
    }

    .nft__navbar-links-logo img {
        scale: 80%;
    }

    .nft__navbar-links-logo img:last-child {
        margin: 0 -8%;
    }

    .openModalBtn {
        height: 35px;
        width: 120px;
        font-size: 12px;
    }

    .connect {
        justify-content: flex-start;
        margin-left: -10%;
    }
    .nft__navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 1rem;
        
       
    }
    .nft__navbar-links-logo img{
        height: 25px;
    }
    .openModalBtn{
        width: 140px;
        padding: .2rem .5rem;
        height: 40px;
    }
}
@media(max-width: 330px){
    .icon{
        display: block;
    }
    .nft__navbar p{
        display: none;
    }
    .nft__navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* padding: 2rem 1rem; */
        
       
    }
    .nft__navbar-links-logo img{
        height: 18px;
        
    }
    .openModalBtn{
        width: 110px;
        padding: .2rem .5rem;
        height: 40px;
    }
}
@media(max-width: 380px){
    .icon{
        display: block;
    }
    .nft__navbar p{
        display: none;
    }
    .nft__navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* padding: 2rem 1rem; */
        
       
    }
    .nft__navbar-links-logo img{
        height: 18px;
        
    }
    .openModalBtn{
        width: 100%;
        padding: .2rem .5rem;
        height: 45px;
    }
}