@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Red+Rose:wght@400;500;600;700&display=swap');

  :root{
    --font-family: 'red rose';
    
    --gradient-txt: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    --color-txt: #fff;
  }
 